@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

@theme {
  --font-playfair: "Playfair Display", "serif";
  --font-lato: "Lato", "sans-serif";
  --breakpoint-*: initial;
  --breakpoint-sm: 480px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 976px;
  --color-gold-light: #dbcaa3;
  --color-gold-default: #d1bb87;
  --color-gold-dark: #c4a96a;
  --color-sand: #fcf9f5;
  --color-sand-light: #f5f0e8;
  --color-sand-dark: #e6d9c8;
  --color-default: #FBFAF9;
  --container-main: 86rem;
  --foreground: hsl(27, 4%, 43%);
}

root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  font-family: 'Lato', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-playfair);
}

.title{
  @apply text-center text-3xl md:text-5xl
}

.subtitle {
  @apply text-2xl md:text-3xl
}

.container {
  max-width: var(--container-main);
  padding-left: 2rem;
  padding-right: 2rem;
}

.text-foreground {
  color: var(--foreground);
}

.active {
  color: var(--color-gold-dark);
}

.label_field {
  @apply appearance-none rounded-none relative block w-full px-3 py-2 border
        border-gray-300 placeholder-gray-500 text-gray-900 rounded-t-md
        focus:outline-none focus:ring-indigo-500 focus:border-indigo-500
        focus:z-10 sm:text-sm
}

.card {
  @apply bg-white rounded-lg p-6 shadow-xl
}

/* .btn-primary{
  @apply cursor-pointer bg-blue-500 hover:bg-blue-600 text-white text-[16px]
  text-center px-3 py-1.5 rounded-sm inline-block
} */

.btn-gold {
    @apply bg-gold-default hover:bg-gold-dark font-medium cursor-pointer text-white px-6 py-3 mx-2 rounded-lg inline-flex
  }

/* .btn-danger{
  @apply cursor-pointer bg-red-500 hover:bg-red-600 text-white text-[16px]
  text-center px-3 py-1.5 rounded-sm inline-block
} */

.gallery-grid {
  @apply grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-4 md:gap-6
}
