<div class="pt-24 md:pt-28 lg:pt-32">
  <div class="container mx-auto py-20 px-8">
    <%= render 'devise/shared/form_container' do %>
      <%= render 'devise/shared/login_form' %>
    <% end %>
  </div>
</div>
